* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Arial', sans-serif;  
  background-color: #A7C7E7;         
  padding: 20px;                     
  color: #000000;                       
}
 
ul {
  padding-left: 0;                  
  margin-left: 20px;               
}
 
.container {
  width: 80%;                       
  margin: auto;                  
  padding: 20px;                    
  background-color: #fff;          
}
 
header {
  display: flex;                   
  align-items: center;              
  height: 250px;                     
  margin-bottom: 20px;              
}
 
header img {
  width: 150px;                    
  height: 150px;                    
  margin-right: 20px;               
}
 
header .profile-text {
  width: 60%;                        
}
 
header .profile-text h1 {
  font-size: 2rem;                    
  margin-bottom: 10px;               
}
 
header .profile-text p {
  font-size: 1rem;                   
}
 
header .profile-text img {
  margin-top: 10px;                   
  margin-right: 10px;               
}
 
.content {
  margin-top: 40px;                  
}
 
.content h3 {
  font-size: 1.5rem;                  
  margin-bottom: 15px;               
}
 
.content ul {
  margin-left: 20px;                 
}
 
.content ul li {
  font-size: 1rem;                   
  margin-bottom: 10px;               
}
 
.content h4 {
  font-size: 1.25rem;                 
  margin-top: 20px;                 
  margin-bottom: 10px}
